In [121]:
print('Predictions')

Predictions

In [122]:
import os

cwd = os.getcwd()

for file in os.listdir(cwd):
    if file.endswith('.pkl'):
        print(file)

gender_encoder_le.pkl
geography_encoder_ohe.pkl
label_encoder_gender.pkl
onehot_encoder_geo.pkl
scaler.pkl
sscaler.pkl

In [123]:
import pandas as pd
import numpy as np
import tensorflow as tf
from keras.models import load_model
import pickle

In [148]:
model = load_model('model.h5')

with open('gender_encoder_le.pkl', 'rb') as file:
    gender_encoder = pickle.load(file)

with open('geography_encoder_ohe.pkl', 'rb') as file:
    geo_encoder = pickle.load(file)

with open('sscaler.pkl', 'rb') as file:
    standard_scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [149]:
# Example input data
input_data = {
    'CreditScore': 0,
    'Geography': 'Germany',
    'Gender': 'Female',
    'Age': 56,
    'Tenure': 0,
    'Balance': 0,
    'NumOfProducts': 0,
    'HasCrCard': 0,
    'IsActiveMember': 0,
    'EstimatedSalary': 0
}

In [150]:
# Converting input data into a dataframe
input_df = pd.DataFrame([input_data])

In [151]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,Germany,Female,56,0,0,0,0,0,0

In [152]:
# Converting Geography column using onehotencoding pickel model
input_data['Geography']

'Germany'

In [153]:
geography_encoded = geo_encoder.transform([[input_data['Geography']]])

geography_encoded_df = pd.DataFrame(geography_encoded, columns=geo_encoder.get_feature_names_out(['Geography']))

geography_encoded_df

c:\Users\hp\Documents\Python\CustomerChurnProject\env1\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [154]:
input_df['Gender'] = gender_encoder.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,Germany,0,56,0,0,0,0,0,0

In [155]:
input_df = pd.concat([input_df.drop("Geography", axis=1), geography_encoded_df], axis=1)

In [156]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0,0,56,0,0,0,0,0,0,0.0,1.0,0.0

In [157]:
input_df_scaled = standard_scaler.transform(input_df)

In [158]:
input_df_scaled

array([[-6.76262379, -1.09499335,  1.62595257, -1.73646664, -1.21847056,
        -2.6418115 , -1.54035103, -1.02583358, -1.74616572, -0.8660254 ,
         2.44948974, -0.8660254 ]])

In [159]:
prediction = model.predict(input_df_scaled)

if prediction <= 0.5:
    print('Customer Won''t Churn')
else:
    print('Customer Will Churn')

print(prediction)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 289ms/step
Customer Will Churn
[[0.98191434]]

In [136]:
0.19713931

0.19713931